.award-heading-desc {
  width           : fit-content;
  padding         : 6px 30px;
  background-color: #d13f4d;
  color           : #fff;
  font-weight     : 500;
  border-radius   : 30px;
  margin-bottom   : 15px;
}

.point-list li {
  display     : block;
  margin      : 5px 60px;
  margin-right: 0px;
}

.point-list li::before {
  content         : "";
  position        : absolute;
  left            : 3px;
  margin          : 6px 30px;
  width           : 12px;
  height          : 12px;
  border-radius   : 50%;
  background-color: #d13f4d;
  border          : 2px solid white;
}

.c-sharp-corner-awards {
  color: white;
}

.c-sharp-corner-awards:hover {
  color: #007bff;
}

.point-list-inner li {
  margin-left: 25px;
}

.point-list-inner li::before {
  left  : 30px;
  width : 11px;
  height: 11px;
}